@import "tailwindcss";

@theme {
  --font-koho: 'KoHo', sans-serif;
  --font-sans: 'KoHo', sans-serif;
}

@layer base {
  html {
    @apply leading-snug;
  }
}

@layer utilities {
  /* Ocultar barra de desplazamiento para Chrome, Safari y Opera */
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }

  /* Ocultar barra de desplazamiento para IE, Edge y Firefox */
  .scrollbar-hide {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}
